<div>Welcome, <%= @user.first_name %> <%= @user.last_name %></div>
  <img src="<%= @user.profile_pic %>"></div>
  <div>Current city: <%= @user.current_city %></div>
  <div>Join date: <%= @join.localtime.strftime('%a %b %d, %Y %I:%M%p') %></div>
   
  